@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="box">
    <a href="/home/about">About Page</a>
    <a href="/home/index">Home Page</a>
    <a href="/home/Privacy">Privacy Page</a>
    </span>
</div>

<style>
.box{
    border: 1px solid #ff0000;
    background-color: antiquewhite;
    padding: 10px;
}
</style>

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
